<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #07233d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #01345b;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #01345b; color: white;}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    display: grid;
}

.center-div {
    margin: auto;
}
  
.title-page {
    text-align: center;
    color: #01345b;
}
  
</style>
<body>
  <main class="main">
    <div class="content">
      
      <div style="background-color: #01345b; color: #f9f9f9; margin: 0; padding: 10px;" >
        <img src="https://www.jep.gov.co/images/img1/estado1.png" alt="Logo Colombia" height="100" style="padding-right: 1%;">
        <img src="https://www.jep.gov.co/images/img1/logoJEP_top_white.svg" alt="Logo JEP" height="100"/>
      </div>
      <nav>
        <ul>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Personas</a>
            <div class="dropdown-content">
              <a routerLink="/persona" routerLinkActive="active" ariaCurrentWhenActive="page">Persona</a>
              <a routerLink="/getPersonas" routerLinkActive="active" ariaCurrentWhenActive="page">Personas</a>
              <a routerLink="/getProcesosPersona" routerLinkActive="active" ariaCurrentWhenActive="page">Procesos Persona</a>
              <a routerLink="/personasDireccionDesarrollo" routerLinkActive="active" ariaCurrentWhenActive="page">Direccion Personas Desarrollo</a>
              <a routerLink="/personasTelefonoDesarrollo" routerLinkActive="active" ariaCurrentWhenActive="page">Telefono Personas Desarrollo</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Procesos</a>
            <div class="dropdown-content">
              <a routerLink="/getDetalleProceso" routerLinkActive="active" ariaCurrentWhenActive="page">Detalle Proceso</a>
              <a routerLink="/partesProceso" routerLinkActive="active" ariaCurrentWhenActive="page">Partes Proceso</a>
              <a routerLink="/asociadosProceso" routerLinkActive="active" ariaCurrentWhenActive="page">Proceso Asociados </a>
            </div>
          </li>
        </ul>
      </nav>

    </div>
  </main>

  <div class="center-div">
    <router-outlet></router-outlet>
  </div>
</body>
